
body{
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	font-family: 'Palanquin Dark', sans-serif;

}

p{
	font-size: 16px;
	text-align: center;
}

span{
	color:#FF0000;
}

#row0{
	border: 1px solid black;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
}

#row1{
	border: 1px solid black;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
}

#row2 {
	border: 1px solid black;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
}

#row3 {
	border: 1px solid black;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
}

#row4 {
	border: 1px solid black;
	padding: 15px;
	margin:20px;
	border-radius: 5px;
}

#dogImg{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 2px solid #ffc107;
	z-index: -1;
}


#h1dog{
	margin-top: 110px;
	padding: 5px;
	text-align: center;
	color: black;
	box-shadow: 5px 5px 5px #ffc107;
}

#divCont4{
	padding: 20px;
	width: 750px;
	height: 200px;	
	margin-bottom: 30px;
}


